body {
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--surface-ground);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card {
  margin: 2% 0;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 80vh;
}

@media screen and (max-width: 768px) {
  .card {
      margin: 4% 5%;
      min-width: calc(100vw - 10%);
      max-width: calc(100vw - 10%);
      min-height: 90vh;
  }
}