// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

:root, .p-component {
    --font-family: Didact Gothic;
    font-family: Didact Gothic;
}

html {
    text-align: justify;
}

p, ul, li, span, label, small, .p-inputtext {
    font-size: 16px !important;
}

b {
    font-size: 18px !important;
}

h1 {
    font-size: 48px !important;
}

h2 {
    font-size: 40px !important;
}

h3 {
    font-size: 32px !important;
}

h4 {
    font-size: 22px !important;
}

pre {
    margin: 0;
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    white-space: break-spaces;
    background-color: var(--highlight-bg);
}

.preOverflow {
    overflow: auto;
    white-space: pre;
    max-width: 100%;
    max-height: 350px;
}

.card {
    border: 1px solid var(--primary-500) !important;
}

.p-inputtext {
    padding: 0.75rem 0.75rem !important;
    border-radius: 6px;
}

.p-button {
    padding: 0.75rem 1.25rem !important;
    border-radius: 6px !important;
}

.p-button-label {
    font-weight: 700;
}

.p-calendar-w-btn .p-datepicker-trigger {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: revert !important;
}

#selectEnvironmentButton {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.expandButton {
    width: 40px;
    height: 15px;
}

.editableText {
    padding: 0.5rem !important;
    border-radius: 12px !important;
    color: var(--color-text) !important;
    background-color: unset !important;
}

.editableText:hover {
    background-color: var(--highlight-bg) !important;
}

.p-scrollpanel .p-scrollpanel-bar {
    background-color: var(--primary-300);
    opacity: 1;
    transition: background-color 0.3s;
}

.p-scrollpanel .p-scrollpanel-bar:hover {
    background-color: var(--primary-400);
}

.custom-scrolltop {
    width: clamp(25px, 3vw, 300px);
    height: clamp(25px, 3vw, 300px);
}

.custom-scrolltop .p-scrolltop-icon {
    font-size: 1.5svw !important;
    color: var(--primary-color-text);
}

.p-dialog {
    background-color: var(--primary-color);
    border: 10px solid var(--primary-color);
    border-radius: 12px;
}

.p-dialog-header {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
    padding: 1rem !important;
}

.p-dialog-content {
    padding: 1rem 1.5rem 0rem 1.5rem !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.p-dialog-footer {
    padding: 1rem !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.p-dropdown, .p-dropdown-panel {
    border-radius: 6px !important;
}

.p-dropdown .p-dropdown-trigger {
    width: 3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.editDropdown .p-dropdown-trigger {
    background: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}

.p-grid {
    gap: 1.25rem;
}

.p-dataview-list {
    background-color: var(--surface-hover);
    padding: 1rem;
    border-radius: 12px;
}

.p-dataview-content, .p-dataview-footer {
    background: none !important;
}

.grid-nogutter > .col, .grid-nogutter > [class*=col-] {
    padding: revert !important;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 1.25rem;
    border-radius: 6px;
}

.p-divider.p-divider-vertical {
    margin: 0 1.25rem;
    padding: 1.25rem 0;
}

.jse-menu {
    padding: 6px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--primary-color) !important;
}

.jse-button {
    border-color: var(--primary-color-text) !important;
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}

.jse-selected {
    background-color: var(--primary-color-text) !important;
    color: var(--primary-color) !important;
}

.jse-first {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.jse-last {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.jse-status-bar {
    padding: 6px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}