// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

:root, .p-component {
    --font-family: Didact Gothic;
    font-family: Didact Gothic;
}

html {
    text-align: justify;
}

p, ul, li, span, label, small, .p-inputtext {
    font-size: clamp(0.75rem, 1svw, 3rem) !important;
}

b {
    font-size: clamp(1rem, 1.2svw, 3.5rem) !important;
}

h1 {
    font-size: clamp(1.25rem, 3vw, 10rem) !important;
}

h2 {
    font-size: clamp(1rem, 2vw, 8rem) !important;
}

.p-inputtext {
    padding: 0.75rem 0.75rem !important;
    border-radius: 6px;
}

.p-button {
    padding: 0.75rem 1.25rem !important;
    border-radius: 6px !important;
}

.p-button-label {
    font-weight: 700;
}

.p-checkbox-box {
    vertical-align: inherit !important;
}

.editableText {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: var(--primary-color-text);
    background-color: var(--primary-color);
    transition: background-color 0.2s ease;
    user-select: none;
    outline: none;
    font-size: inherit;
    vertical-align: inherit;
}

.p-scrollpanel .p-scrollpanel-bar {
    background-color: var(--primary-300);
    opacity: 1;
    transition: background-color 0.3s;
}

.p-scrollpanel .p-scrollpanel-bar:hover {
    background-color: var(--primary-400);
}

.custom-scrolltop {
    width: clamp(25px, 3.75vw, 300px);
    height: clamp(25px, 3.75vw, 300px);
}

.custom-scrolltop .p-scrolltop-icon {
    font-size: 1.5rem;
    color: var(--primary-color-text);
}

.p-dialog-header {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}

.p-dialog-content {
    padding: 1rem 1.5rem 0rem 1.5rem !important;
}

.p-dialog-footer {
    padding: 1rem 1.5rem 1.5rem 1.5rem !important;
}

.p-dropdown .p-dropdown-trigger {
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.editDropdown .p-dropdown-trigger {
    background: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 1.25rem;
    border-radius: 6px;
}

.p-divider.p-divider-vertical {
    margin: 0 1.25rem;
    padding: 1.25rem 0;
}

// .p-divider-solid.p-divider-horizontal:before {
//     border-top-style: solid !important;
// }
// .p-divider-solid.p-divider-vertical:before {
//     border-left-style: solid !important;
// }